<h1>New Ticket</h1>

<p>
  <strong>Train number:</strong>
  <%= @train.train_number %>
</p>

<p>
  <strong>Departure station:</strong>
  <%= @train.departure_station %>
</p>

<p>
  <strong>Termination station:</strong>
  <%= @train.termination_station %>
</p>

<p>
  <strong>Departure date:</strong>
  <%= @train.departure_date %>
</p>

<p>
  <strong>Departure time:</strong>
  <%= @train.departure_time %>
</p>

<p>
  <strong>Arrival date:</strong>
  <%= @train.arrival_date %>
</p>

<p>
  <strong>Arrival time:</strong>
  <%= @train.arrival_time %>
</p>

<p>
  <strong>Ticket price:</strong>
  <%= @train.ticket_price %>
</p>

<p>
  <strong>Train capacity:</strong>
  <%= @train.train_capacity %>
</p>

<p>
  <strong>Seats left:</strong>
  <%= @train.seats_left %>
</p>

<%= render 'form', ticket: @ticket %>
<%= render 'transaction_form', ticket: @ticket %>
<%= link_to 'Transaction Info', new_transaction_path(:train_id => @train.id, :ticket_price => @train.ticket_price) %>

<%= link_to 'Back', trains_path %>
