<p id="notice"><%= notice %></p>

<h1>Reviews</h1>

<table>
  <thead>
    <tr>
    <th>Name</th>
    <th>Rating</th>
      <th>Feedback</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reviews.each do |review| %>
      <tr>
      <% if admin_user %>
        <td><%= admin_user.name %></td>
      <% else %>
        <td><%= Passenger.find_by(id: review.passenger_id).name %></td>
      <% end %>
        <td><%= review.rating %></td>
        <td><%= review.feedback %></td>
        <td><%= link_to 'Show', review %></td>
        <td><%= link_to 'Edit', edit_review_path(review) %></td>
        <td><%= link_to 'Destroy', review, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

